<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:replace="fragment.html::header"></div>
    <h1>生徒一覧</h1>
    <table border="1">
        <thead>
            <tr>
                <th>生徒ID</th>
                <th>生徒名</th>
                <th>ステータス</th>
                <th>学校名</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="student:${studentShows}">
                <td th:text="${student.getId()}"></td>
                <td th:text="${student.getName()}"></td>
                <td th:text="${student.getStatus()}"></td>
                <td th:text="${student.getSchoolName()}"></td>
                <td><a th:href="@{/studentEdit/__${student.getId()}__}" style="color:green;">生徒情報編集</a></td>
                <td><a>成績一覧</a></td>
            </tr>
        </tbody>
    </table>
</body>
</html>