<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="~{fragment::head}"></div>
  <title>Regular Tests</title>
</head>
<body>
<div th:replace="~{fragment::header}"></div>
<h1>定期テスト</h1>
<ul>
  <li th:each="test : ${regularTestShowList}">
    <span th:text="${test.term}+'年度'"></span>
    <span th:text="${test.schoolName}"></span>
    <span th:text="${test.grade}+'年生'"></span>
    <span th:text="${test.semester}+'学期'"></span>
    <span th:if="${test.isMid == 0}" th:text="'期末テスト'"></span>
    <span th:if="${test.isMid == 1}" th:text="'中間テスト'"></span>
    <span><a th:href="@{/regularTestEdit/__${test.regularTestId}__}">テスト内容編集</a></span>
    <span><a th:href="@{/regularTestResultEdit/__${test.regularTestId}__}">テスト結果確認・入力・編集</a></span>
    <span th:text="'Test ID: ' + ${test.regularTestId}"></span>
    <hr>
  </li>
</ul>
</body>
</html>
