<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>素材用html</title>
    <div th:fragment="head">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </div>
</head>
<body>

<div th:fragment="header" class="bg-light p-3">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">メニュー</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/studentRegister}">生徒登録</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/studentShow}">生徒一覧</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/registerSchool}">学校登録</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/regularTestCreate}">定期テスト作成</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/showAllRegularTest}">定期テスト一覧</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/editStatus}">ステータス編集</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/classEdit}">クラス編集</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/studentClassEdit}">所属クラス編集</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/createRegularTest}">定期テスト作成</a>
                </li>

            </ul>
        </div>
    </nav>
</div>

<div th:fragment="status_selection" class="container mt-4">
    <h2>ステータス選択</h2>
    <div>
        <label for="statusId">ステータス</label>
        <div class="form-group">
            <div th:each="status : ${statusList}">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" th:field="*{statusId}" th:value="${status.getStatusId()}">
                    <span th:text="${status.getName()}"></span>
                </label>
            </div>
        </div>
    </div>
</div>


    <div th:fragment="script">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
    </div>

</body>
</html>
